
body {

  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: table;
background-color: rgba(224, 206, 209, 0.34)

}
/*============================la nav bar====================*/
.nav {
  padding: 0;
  margin: 0;
}
.nav ul {
  display: flex;
  justify-content: space-around;
}
.nav ul li {
  text-align: center;
  display: inline;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/*====================le carroussel=======================*/
#titre {
  padding-top: 15px;
  text-align: center;
}

.carousel-inner > .item > img{
    width:600px;
    min-height: 500px;
    margin: auto;

}
 .carousel-inner > .item > a  {
     width:600px;
     max-height: 500px;
     margin: auto;


 }
div img {
  margin-left: 30px;
}
ol li{
  display: inline;
  list-style: none;
}
/*=======================partie section===================*/
section{
  width:47%;
  top: 10%;
  float: left;
  margin-left: 30px;
  margin-bottom: 3%;
}
/*=========================petit prince=============*/
section p{
  width: 600px;
  margin-top: 50px;
}
.Pp < h1 < img < figcaption < p{
  border-radius: 2%;
}
article figcaption {
 margin-right:240px;
 margin-top: -300px;
 float: right;
 font-size: 15px;
 text-decoration: underline;
}
.Pp h1{
  float: right;
  text-decoration:underline;
}
.pp img{
  margin-top: 70px;
  border-radius: 33px;
box-shadow: inset -13px 0px 50px 0px #BFBFBF;
}
/*=========================partie aside==============*/
aside{
  width:47%;
  margin-left: 643px;
  margin-right:3% ;
  top: 10%;

}
aside p{
  margin-top: 75px;
  margin-right: 15px;
}
/*===========================le footer========================*/
footer {
  width: 100%;
  height: 20px;
  position: absolute;
  background-color: blue;
  clear: both;
  bottom: 0;
  left: 0;
  right: 0;
  display: table-row;

}
footer li {
  margin-left: 75px;
    display: inline;
  text-align: center;
  line-height: 10px;

}
